@font-face {
  font-family: JosefinSans-Bold;
  src: url(fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSans-Regular;
  src: url(fonts/JosefinSans-Regular.ttf);
}

:root {
  --checkbox-gradient: linear-gradient(135deg, #84BEEA 10%, #7F53C1);
  --banner-img: url(images/bg-desktop-dark.jpg);
  --main-background: #25273C;
  --surround-background: #171824;
}

body {
  font-family: JosefinSans-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  
  background-color: var(--surround-background);
  margin: 0px;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 260px 1fr;
}

.banner {
  background-image: var(--banner-img);
  font-family: JosefinSans-Bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  margin-top: 69.5px;
  height: 78px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header, #new-todo, .rest >* {
  width: 512px;
}

h1 {
  font-size: 42px;
  letter-spacing: 19.2px;
  display: inline-block;
  margin: 0px;
}

#theme-selector-image {
  height: 43px;
}



.rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crux {
  position: relative;
  top: -100px;
}

#new-todo, .item-todo, .foot {
  background-color: var(--main-background);
  box-sizing: border-box;
  
  height: 54px;
  padding: 15px 23px;
}

#new-todo {
  margin-bottom: 21px;
}

li {
  list-style-type: circle;
}

input[type=text] {
  border: 0px;
  background-color: var(--main-background);
  
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
}
input[type=text]:focus {
    outline: none;
}

input[type=submit] {
  display: none; 
}

.todos {
  box-shadow: 0px 40px 50px 10px #11121b;
  height: auto;
}

.item-todo{
    border-bottom: 1px solid #535369;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: grab;

}
.item-todo img {
    height: 20px;
}

label {
  display: inline-block;
  margin-left: 20px;
  max-width: 380px;

  overflow: scroll;
  -ms-overflow-style: none;   /* hide scrollbar - Edge */
  scrollbar-width: none;      /* hide scrollbar - Firefox */
}
label::-webkit-scrollbar{
  display: none;              /* hide scrollbar - Chrome */
}

.item-todo.dragging {
  filter: brightness(0.7);
  cursor: grabbing;
}
.cancel {
    cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox-border {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--checkbox-gradient);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.checkbox-wrapper {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--main-background);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: background 2s;
}

.checkbox-wrapper.checked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--checkbox-gradient);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#checkbox-image {
  height: 7px;
  visibility: hidden;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;
  font-size: 15px;
  color: #535369;
  box-shadow: 0px 20px 50px 0px #11121b;
}

.filters {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filters >*:hover, #clear:hover {
  cursor: pointer;
  color: #FFFFFF;
  transition: color 1s;
}

.active, .active:hover {
  color: #5378C9;
}

.instructions {
  width: inherit;
  position: absolute;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  color: #535369;
}

.attribution {
  width: inherit;
  
  padding: 10px 0;
}