@font-face {
  font-family: JosefinSans-Bold;
  src: url(fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSans-Regular;
  src: url(fonts/JosefinSans-Regular.ttf);
}

:root {
  --checkbox-gradient: linear-gradient(135deg, #84BEEA 10%, #7F53C1);
  --main-background: #25273C;
  --surround-background: #171824;
  --faded-col-1: #4C4E63;
  --faded-col-2: #5B5D77;
  --todo-col: #FFFFFF;
  --hover-col: #FFFFFF;
}
.light {
  --checkbox-gradient: linear-gradient(135deg, #84BEEA 10%, #7F53C1);
  --main-background: #FFFFFF;
  --surround-background: #FAFAFA;
  --faded-col-1: #E3E3E7;
  --faded-col-2: #9998A0;
  --todo-col: #4C4A67;
  --hover-col: #4C4A67;
}

@media screen and (min-width: 600px) {

  :root {
    --banner-img: url(images/bg-desktop-dark.jpg);
    --primary-width: 512px
  }
  .light {
    --banner-img: url(images/bg-desktop-light.jpg);
  }


  body {
    font-family: JosefinSans-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
    background-color: var(--surround-background);
    margin: 0px;
    color: var(--todo-col);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  main {
    display: grid;
    grid-template-rows: 260px 1fr;
  }
  
  .banner {
    background-image: var(--banner-img);
    background-size: cover;
    font-family: JosefinSans-Bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header {
    margin-top: 69.5px;
    height: 78px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header, #new-todo, .rest >* {
    width: var(--primary-width);
  }
  
  h1 {
    font-size: 42px;
    letter-spacing: 19.2px;
    display: inline-block;
    margin: 0px;
    color: #FFFFFF;
  }
  
  #theme-selector-image {
    height: 43px;
  }
  
  .rest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .crux {
    position: relative;
    top: -100px;
  }
  
  #new-todo, .item-todo, .foot {
    background-color: var(--main-background);
    box-sizing: border-box;
    
    height: 54px;
    padding: 15px 23px;
    border-radius: 5px;
  }
  
  #new-todo {
    margin-bottom: 21px;
  }
  
  li {
    list-style-type: circle;
  }
  
  input[type=text] {
    border: 0px;
    background-color: var(--main-background);
    
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
  }
  input[type=text]:focus {
      outline: none;
  }
  
  input[type=submit] {
    display: none; 
  }
  
  .todos {
    box-shadow: 0px 40px 50px 10px #11121b;
    height: auto;
    
}
  .light .todos {
    box-shadow: 0px 40px 50px 10px #F4F4F4;
  }

  
  #first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .item-todo{
      border-bottom: 1px solid var(--faded-col-1);
      border-radius: 0px;
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      cursor: grab;
      color: var(--todo-col);
      transition: color ease-in 1s;
  }
  .item-todo.true{
    color: var(--faded-col-1);
  }
  .item-todo img {
      height: 20px;
  }
  
  label {
    display: inline-block;
    margin-left: 20px;
    max-width: 380px;
  
    overflow: scroll;
    -ms-overflow-style: none;   /* hide scrollbar - Edge */
    scrollbar-width: none;      /* hide scrollbar - Firefox */
  }
  label::-webkit-scrollbar{
    display: none;              /* hide scrollbar - Chrome */
  }
  
  .item-todo.dragging {
    filter: brightness(0.7);
    cursor: grabbing;
  }
  
  .cancel {
      cursor: pointer;
      opacity: 0;
      transition: opacity ease-in 1s;
  }
  .cancel.show {
    opacity: 1;
  }
  
  input[type=checkbox] {
    visibility: hidden;
  }
  
  .checkbox-border {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--checkbox-gradient);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: background 2s;
  }
  
  .checkbox-wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main-background);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    transition: background 2s;
  }
  
  .checkbox-wrapper.checked {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--checkbox-gradient);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #checkbox-image {
    height: 7px;
    visibility: hidden;
  }
  
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
    font-size: 15px;
    color: var(--faded-col-2);
    box-shadow: 0px 20px 50px 0px #11121b;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .light .foot {
    box-shadow: 0px 20px 50px 0px #F4F4F4;
  }
  
  .filters {
      width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .filters >*:hover, #clear:hover {
    cursor: pointer;
    color: var(--hover-col);
    transition: color 1s;
  }
  
  .active, .active:hover {
    color: #5378C9;
  }

  .mobile-filters {
    display: none;
  }
  
  .instructions {
    width: inherit;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    color: var(--faded-col-2);
  }
  
  .attribution {
    width: inherit;
    padding: 10px 0;
  }
}


@media screen and (max-width: 600px) {

  :root {
    --banner-img: url(images/bg-mobile-dark.jpg);
    --primary-width: 278px;
  }
  .light {
    --banner-img: url(images/bg-mobile-light.jpg);
  }


  body {
    font-family: JosefinSans-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    
    background-color: var(--surround-background);
    margin: 0px;
    color: var(--todo-col);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  main {
    display: grid;
    grid-template-rows: 170px 1fr;
  }
  
  .banner {
    background-image: var(--banner-img);
    background-size: cover;
    font-family: JosefinSans-Bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header {
    margin-top: 49px;
    height: 40px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header, #new-todo, .rest >* {
    width: var(--primary-width);
  }
  
  h1 {
    font-size: 24px;
    letter-spacing: 12px;
    display: inline-block;
    margin: 0px;
    color: #FFFFFF;
  }
  
  #theme-selector-image {
    height: 28px;
  }
  
  .rest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .crux {
    position: relative;
    top: -65px;
  }
  
  #new-todo, .item-todo, .foot {
    background-color: var(--main-background);
    box-sizing: border-box;
    
    height: 41px;
    border-radius: 5px;
    padding: 12px 15px;
  }
  
  #new-todo {
    margin-bottom: 13.6px;
  }
  
  li {
    list-style-type: circle;
  }
  
  input[type=text] {
    border: 0px;
    background-color: var(--main-background);
    
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
  }
  input[type=text]:focus {
      outline: none;
  }
  
  input[type=submit] {
    display: none; 
  }
  
  .todos {
    box-shadow: 0px 40px 50px 10px #11121b;
    height: auto;
  }
  .light .todos {
    box-shadow: 0px 40px 50px 10px #F4F4F4;
  }

  #first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .item-todo{
      border-bottom: 1px solid var(--faded-col-1);
      border-radius: 0px;
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      cursor: grab;
      color: var(--todo-col);
      transition: color ease-in 1s;
  }
  .item-todo.true{
    color: var(--faded-col-1);
  }
  .item-todo img {
      height: 15px;
  }
  
  label {
    display: inline-block;
    margin-left: 20px;
    max-width: 175px;
  
    overflow: scroll;
    -ms-overflow-style: none;   /* hide scrollbar - Edge */
    scrollbar-width: none;      /* hide scrollbar - Firefox */
  }
  label::-webkit-scrollbar{
    display: none;              /* hide scrollbar - Chrome */
  }
  
  .item-todo.dragging {
    filter: brightness(0.7);
    cursor: grabbing;
  }
  
  .cancel {
      cursor: pointer;
      opacity: 0;
      transition: opacity ease-in 1s;
  }
  .cancel.show {
    opacity: 1;
  }
  
  input[type=checkbox] {
    visibility: hidden;
  }
  
  .checkbox-border {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--checkbox-gradient);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
  }
  
  .checkbox-wrapper {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main-background);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    transition: background 2s;
  }
  
  .checkbox-wrapper.checked {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--checkbox-gradient);
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #checkbox-image {
    height: 5px;
    visibility: hidden;
  }
  
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
    font-size: 10px;
    color: var(--faded-col-2);
    box-shadow: 0px 20px 50px 0px #11121b;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
  .light .foot {
    box-shadow: 0px 20px 50px 0px #F4F4F4;
  }
  
  .filters {
      /* width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; */
      display: none;
  }
  .filters >*:hover, #clear:hover {
    cursor: pointer;
    color: var(--hover-col);
    transition: color 1s;
  }
  
  .active, .active:hover {
    color: #5378C9;
  }
  

  .mobile-filters {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    color: var(--faded-col-2);

    background-color: var(--main-background);
    box-sizing: border-box;
    border-radius: 5px;
    
    height: 41px;
    padding: 12px 32px;
    margin-top: 10px;
  }
  .mobile-filters >*:hover {
    cursor: pointer;
    color: var(--hover-col);
    transition: color 1s;
  }
  .mobile-filters .active:hover {
    color: #5378C9;
  }


  .instructions {
    width: inherit;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    color: var(--faded-col-2);
  }
  
  .attribution {
    width: inherit;
    padding: 10px 0;
  }
}
